@mixin circle {
  display: block;
  width: 8rem;
  height: 8rem;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  position: relative;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
