.header {
  height: 100vh;
  background-image: url("../img/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__nav {
    height: 10vh;
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    position: relative;

    div {
      width: 25%;
      text-align: center;
    }

    .nav-img {
      position: absolute;
      top: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .nav-left,
    .nav-right {
      width: 40%;
      height: inherit;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255,255,255,0.2);

      div {

        a {
          transition: font-size ,color .2s;
        }

        a:hover {
          color: rgba(255,255,255,0.7);
        }

        a:active {
          font-size: 1.52rem;
        }

      }
    }

    .nav-left {
      justify-content: flex-start;
    }

    .nav-right {
      justify-content: flex-end;
    }
  }

  &__content {
    height: 90vh;
    display: flex;
    position: relative;
    color: #ffffff;

    .schedule {
      flex: 0 0 20%;
      border-right: 1px solid rgba(255,255,255,0.2);
      position: relative;

      p {
        transform: rotate(-90deg);
        width: max-content;
        position: absolute;
        top: 50%;
        left: -20%;
      }
    }

    .center-left {
      flex: 0 0 30%;
      border-right: 1px solid rgba(255,255,255,0.2);
      margin-top: 16rem;
    }

    .center-right {
      flex: 0 0 30%;
      margin-top: 16rem;
    }

    .networks{
      flex: 0 0 20%;
      border-left: 1px solid rgba(255,255,255,0.2);
      padding-right: 6.25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      a {
        @include circle;
        transition: border .1s;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        img {
          @include center;
        }
      }

      a:hover {
        border: 2px solid rgba(255,255,255,0.2);
      }

      a:active {
        border: 3px solid rgba(255,255,255,0.2);
      }
    }

    .headings {
      position: absolute;
      top: 33%;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      text-align: center;

      .headings__buttons {
        display: flex;
        justify-content: center;

        .btn-header:nth-child(1) {
          background-color: #E8C300;
          border: 1px solid #E8C300;
          transition: border .1s;

          &:hover {
            border: 2px solid black;
          }

          &:active {
            border: 3px solid black;
          }
        }

        .btn-header:nth-child(2) {
          background-color: transparent;
          border: 1px solid rgba(255,255,255,0.2);
          transition: border .1s;

          &:hover {
            border: 2px solid rgba(255,255,255,0.2);
          }

          &:active {
            border: 3px solid rgba(255,255,255,0.2);
          }
        }
      }

      .headings__str {
        @include circle;
        margin: 6% auto;
        padding: 0.9rem;
        transition: border .1s;

        &:hover {
          border: 2px solid rgba(255,255,255,0.2);
        }

        &:active {
          border: 3px solid rgba(255,255,255,0.2);
        }

        div {
          width: 5.32rem;
          height: 5.32rem;
          border-radius: 50%;
          background-color: #ffffff;
          position: relative;
          @include center;
          @include d-flex-center
        }
      }
    }
  }
}
