*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  background-color: #E5E5E5;
  font-family: "Open Sans", sans-serif;
  width:100% ;
  margin: auto;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
