.heading-h1 {
    font-family: "Arima Madurai", sans-serif;
    font-size: 12.8rem;
    font-weight: 800;
    line-height: 21rem;
    width: max-content;
    text-transform: uppercase;

    @media only screen and (max-width: 75.6em){
        font-size: 11rem;
    }

    @media only screen and (max-width: 65.5em){
        font-size: 10rem;
    }

    @media only screen and (max-width: 59.6em){
        font-size: 9rem;
    }
}

.heading-h1::after {
    display: block;
    margin: 0 auto;
    content: "";
    height: 0.65rem;
    width: 10%;
    background-color: #E8C300;
    border-radius: 5rem;
}

.heading-h4 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.86rem;
    letter-spacing: 0.65rem;
    text-transform: uppercase;
}

.schedule-p {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: #ffffff;
    width: max-content;
}

.heading-h2{
    font-family: "Arima Madurai", sans-serif;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 9rem;
    text-transform: uppercase;
    text-align: center;
};

.heading-h2::after {
    display: block;
    margin: 0 auto;
    content: "";
    height: 0.65rem;
    width: 12%;
    background-color: #E8C300;
    border-radius: 5rem;
}

.heading-h3{
    font-family: "Arima Madurai", sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2.2rem;
    text-transform: uppercase;
    text-align: left;
};

.text-primary {
    font-family: Open Sans, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.7rem;
    text-align: center;
    margin: 2.7rem auto;
}

.text-secondary {
    font-family: Open Sans, sans-serif;
    font-size: 1.86rem;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: center;
}
