.d-flex-90 {
  height: 90rem;
  display: flex;
  padding: 0 4rem;
  width: 100%;
}

.section-text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

.section-img-left,
.section-img-right{
  flex: 0 0 50%;
  display: flex;
  align-items: center;


  .img-relative {
    position: relative;
    width: 83%;

    img {
      width: 100%;
      border-radius: 5px;
      filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.5));
    }

    .square-left,
    .square-right{
      content: "";
      width: 43%;
      height: 43%;
      border: 2rem solid #E8C300;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
    }

    .square-left {
      right: 70%;
    }

    .square-right {
      left: 70%;
    }
  }
}

.section-img-left {
  justify-content: flex-end;
}
.section-img-right {
  justify-content: flex-start;
}

.block-l {
  flex: 0 0 20%;
  border-right: 1px solid rgba(255,255,255,0.2);
}
.block-l-c {
  flex: 0 0 30%;
  border-right: 1px solid rgba(255,255,255,0.2);
}
.block-r-c {
  flex: 0 0 30%;
}
.block-r {
  flex: 0 0 20%;
  border-left: 1px solid rgba(255,255,255,0.2);
}

.block-top {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.block-heading {
  z-index: 100;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
}

.block-bottom {
  z-index: 100;
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  color: #909090;

  span {
    font-weight: 400;
  }
}
