.btn {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.7rem;
  border-radius: 0.65rem;

}

.btn-header {
  width: 28rem;
  margin: 4rem;
  color: #ffffff;
}
